[submodule "team2-frontend"]
	path = team2-frontend
	url = https://github.com/hanhwa-swcamp-22th-final/team2-frontend.git
[submodule "team2-backend-documents"]
	path = team2-backend-documents
	url = https://github.com/hanhwa-swcamp-22th-final/team2-backend-documents.git
